.login {
	border: 1px #2c2c2c solid;
	padding: 0 !important;
	border-radius: 1em;
}

.headline {
	ackground: #2fd1ce; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #2fd1ce 0%, #0eaeab 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #2fd1ce 0%,#0eaeab 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #2fd1ce 0%,#0eaeab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fd1ce', endColorstr='#0eaeab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: white;
	text-align: center;
	padding: 1em 0 1.25em 0;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}

.button-red {
	display:inline-block;
	font-family:Arial, "Helvetica", sans-serif;
	font-size: 16px;
	font-weight:bold;
	color:#fff;
	text-decoration: none;
	text-align: center;
	text-shadow:1px 1px 0px #07526e;
	padding: 1em 5em 1em 5em;
	position: relative;
	cursor: pointer;
	border: none;
	background: #f84545;
	background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
	border-radius: 0.75em;
	box-shadow: inset 0px 1px 0px #ce3939, 0px 5px 0px 0px #ce3939;
	margin-left: 32%;
	margin-bottom: 3em;
	margin-top: 2em;
}

.form-control {
	width: 50% !important;
	padding: 2.25em !important;
	margin: 1.5em auto 0 auto;
}